.main{
    display: flex;
    flex-direction: row;
    border-bottom: 7px solid #E8ECF2;
    margin: 10px;
    margin-right: 30px;
    padding: 0px;
    max-height: 25px;
    justify-content: space-around;
    position: relative;
    width: 95%;
}

.main .btns{
    
    
 
}
.btnLeft{
    left: 0;
    top: 50%;
    transform: translate(-50%, 10%);
    width: 20px;
    height: 20px;
    border-radius:50% ;
    background: #E8ECF2;
    border: 1px solid #1D4179;
    position: absolute;
}
 .btnRight{
right: 0;
top: 50%;
transform: translate(50%, 10%);
width: 20px;
height: 20px;
    border-radius:50% ;
    background: #1D4179;
    position: absolute;
    border: 1px solid #1D4179;
}

.main span{
    width: 20px;
    height: 23px;
    background-color: #E8ECF2;
    margin: 0px 15px;
}