@import url("https://fonts.googleapis.com/css2?family=El+Messiri&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Alkatra&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Spline+Sans&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;
@layer base {
	[type="text"],
	[type="email"],
	[type="url"],
	[type="password"],
	[type="number"],
	[type="date"],
	[type="datetime-local"],
	[type="month"],
	[type="search"],
	[type="tel"],
	[type="time"],
	[type="week"],
	[multiple],
	textarea,
	select {
		@apply block w-full rounded-full border-neutral-200 bg-white text-neutral-900
    focus:border-indigo-500 focus:ring-indigo-500 dark:border-neutral-700 dark:bg-neutral-900 dark:text-neutral-200 sm:text-sm;
	}
}
* {
	@apply ltr:font-alkatra rtl:font-messiri;
}

.movie-container {
	margin: 20px 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.movie-container select {
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	border: 0;
	padding: 5px 15px;
	margin-bottom: 40px;
	font-size: 14px;
	border-radius: 5px;
}

.movie-container .container {
	perspective: 1000px;
	margin: 40px 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.movie-container .seat {
	background: url("./images/Car - Free security icons-1.png") no-repeat;
	height: 40px;
	width: 40px;
	margin: 3px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.movie-container .selected {
	background: url("./images/Car - Free security icons-2.png") no-repeat;
}

.movie-container .occupied {
	background: url("./images/Car - Free security icons-3.png") no-repeat;
}

.movie-container .seat:nth-of-type(2) {
	margin-right: 18px;
}

.movie-container .seat:nth-last-of-type(2) {
	margin-left: 18px;
}

.movie-container .seat:not(.occupied):hover {
	cursor: pointer;
	transform: scale(1.2);
}

.movie-container .showcase .seat:not(.occupied):hover {
	cursor: default;
	transform: scale(1);
}

.movie-container .showcase {
	display: flex;
	justify-content: space-between;
	list-style-type: none;
	background: rgba(0, 0, 0, 0.1);
	padding: 5px 10px;
	border-radius: 5px;
	color: #777;
}

.movie-container .showcase li {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 10px;
}

.movie-container .showcase li small {
	margin-left: 2px;
}

.movie-container .row {
	display: flex;
	align-items: center;
	justify-content: center;
}

.movie-container .screen {
	background: #fff;
	height: 70px;
	width: 70%;
	margin: 15px 0;
	transform: rotateX(-45deg);
	box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
}
.triangle-container {
	justify-self: center !important;
	align-items: center !important;
}

.movie-container p.text {
	margin: 40px 0;
}

.movie-container p.text span {
	color: #0081cb;
	font-weight: 600;
	box-sizing: content-box;
}

.movie-container .credits a {
	color: #fff;
}
@media (min-width:900px) {
	.triangle {
		/* margin-left: -90%; */
		justify-content: center;
		align-items: center;
		padding-right: 30%;
		padding-left: 20%;
		border-top-left-radius:8px ;
		border-bottom-left-radius:8px ;
		}
	.triangle2 {
		/* margin-top: -9%; */
		justify-content: center;
		align-items: center;
		/* padding-right: 60px; */

		}
	.triangle3 {
		/* margin-top: -13%; */
		background-color: #DDE2EB;
		justify-content: center;
		align-items: center;
		border-top-right-radius:8px ;
		border-bottom-right-radius:8px ;
		padding-right: 40%;
		padding-left: 35%;
		}
}
@media (max-width:900px) {
	.triangle {
	/* margin-left: -90%; */
	justify-content: center;
	align-items: center;
	padding-right: 10%;
		padding-left: 10%;
		border-top-left-radius:8px ;
		border-bottom-left-radius:8px ;
	}
.triangle2 {
	/* margin-top: -9%; */
	justify-content: center;
	align-items: center;
	padding-left: 10%;
	}
.triangle3 {
	/* margin-top: -13%; */
	background-color: #DDE2EB;
	justify-content: center;
	align-items: center;
	border-top-right-radius:8px ;
	border-bottom-right-radius:8px ;
	padding-right: 40%;
	padding-left: 35%;
	}
	.restyle-container {
		/* background-color: #0081cb; */
		flex-direction: row-reverse;

	}
	.restyle-container  img {
		width: 150px;
	}
	
	.triangle h4 {
		font-size: 12px !important;
	}
	.triangle2 h4 {
		font-size: 12px !important;
	}
	.triangle3 h4 {
		font-size: 12px !important;
	}
	}
@media (max-width:600px) {
	.triangle {
		/* margin-left: -90%; */
		justify-content: center;
		align-items: center;
		padding-right: 10%;
			padding-left: 10%;
			border-top-left-radius:8px ;
		border-bottom-left-radius:8px ;
		}
	.triangle2 {
		/* margin-top: -9%; */
		justify-content: center;
		align-items: center;
		padding-left: 10%;
		}
	.triangle3 {
		/* margin-top: -13%; */
		background-color: #DDE2EB;
		justify-content: center;
		align-items: center;
		border-top-right-radius:8px ;
		border-bottom-right-radius:8px ;
		padding-right: 25%;
		padding-left: 25%;
		}
}
@media (max-width:400px) {
	.triangle {
		/* margin-left: -90%; */
		justify-content: center;
		align-items: center;
		padding-right: 10%;
			padding-left: 10%;
			border-top-left-radius:8px ;
		border-bottom-left-radius:8px ;

		}
	.triangle2 {
		/* margin-top: -9%; */
		justify-content: center;
		align-items: center;
		padding-left: 20%;
		}
	.triangle3 {
		/* margin-top: -13%; */
		background-color: #DDE2EB;
		justify-content: center;
		align-items: center;
		border-top-right-radius:8px ;
		border-bottom-right-radius:8px ;
		padding-right: 25%;
		padding-left: 15%;
		}
}
.triangle::after {
	content: "";
	position: absolute;
	left: 100%;
	z-index: 10;
	top: 0;
	width: 0;
	height: 0;
	border-top: 30px solid transparent;
	border-left: 50px solid #DDE2EB;
	border-bottom: 30px solid transparent;
}
.triangle3::before {
	content: "";
	position: absolute;
	left: -24px;
	top: 0;
	/* width: 50px; */
	/* height: 50px;	 */
	border-top: 30.39px solid #DDE2EB;
	border-left: 25px solid transparent;
	border-bottom: 30.40px solid #DDE2EB;
}
.PhoneInput {
    width: 70%;
	
  }
  .PhoneInput .PhoneInputCountry{
    margin-top: -15px;
  }
  .two{
	display:  grid;
	grid-template-columns: 1fr 2fr;
	gap: 1rem;
  }
  @media(max-width:779px ){
	.two{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.PhoneInput {
		width: 20rem !important;
		
	  }
  }